<h1> LabMon </h1>

<ul>
<li> Hostname: <%= @vm.hostname %> </ll>
<li> Description: <%= @vm.description %> </li>
<li> Notes: <%= @vm.notes %> </li>
<li> Running: <%= @vm.running? %> </li>
<li> Tags: <%= @vm.machine_tags.join(", ") unless @vm.snapshots.nil? %></li>
<li> Snapshots: <%= @vm.snapshots.join(", ") unless @vm.snapshots.nil? %></li>
</ul>

<table>
<tr>
<td>
<form name=start_vm action="/start/<%=@vm.hostname%>">
  <input type=submit value="Start">
</form>
</td>
<td>
<form name=stop_vm action="/stop/<%=@vm.hostname%>">
  <input type=submit value="Stop">
</form>
</td>
<td>
<form name=revert_snapshot action="/revert_snapshot/<%=@vm.hostname%>">
  <input type=text value="clean">
  <input type=submit value="Revert">
</form>
<td>
</tr>
</table
